@model homework06.Models.Card
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Birthday Card Generator</title>
</head>
<body>
    <div class="container-fluid text-center mt-5">
        <h5>Birthday Card Sent!</h5>
        <h1>@Model.Message</h1>
        <h6>To: @Model.To</h6>
        <h6>From: @Model.From</h6>
    </div>
</body>
</html>
